* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    color: hsl(180, 100%, 93%);
    background-color: hsla(180, 100%, 10%, 1); 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullName {
    margin: 2%;
    color: hsl(22, 95%, 53%);
    font-family: Varela, sans-serif;
    border-top: 1px solid hsl(180, 100%, 93%);
    border-bottom: 1px solid hsl(180, 100%, 93%);
    border-radius: 4%;
    padding: 1% 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1%;
    margin-right: 5%;
    color:hsl(22, 95%, 53%);
    font-family: 'Ubuntu Mono', monospace;
}

.sectionLinks {
    color:hsl(180, 100%, 93%);
    margin: 4%;
    text-decoration: none;
}

.resumeButton {
    padding: 4%;
    border: 1px solid hsl(22, 95%, 53%);
    border-radius: 5px;
    color: hsl(22, 95%, 53%);
    margin: 4%;
    text-decoration: none;
}