html {
    font-size: 20px;
}

body {
    color: hsl(180, 100%, 93%);
    background-color: hsla(180, 100%, 10%, 1); 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullName {
    margin: 2%;
    color: hsl(22, 95%, 53%);
    font-family: Varela, sans-serif;
    border-top: 1px solid hsl(180, 100%, 93%);
    border-bottom: 1px solid hsl(180, 100%, 93%);
    border-radius: 4%;
    padding: 1% 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1%;
    margin-right: 5%;
    color:hsl(22, 95%, 53%);
    font-family: 'Ubuntu Mono', monospace;
}

.sectionLinks {
    color:hsl(180, 100%, 93%);
    margin: 4%;
    text-decoration: none;
}

.resumeButton {
    padding: 4%;
    border: 1px solid hsl(22, 95%, 53%);
    border-radius: 5px;
    color: hsl(22, 95%, 53%);
    margin: 4%;
    text-decoration: none;
}


.hero {
    width: fit-content;
    height: fit-content;
    margin: 10% auto;
    line-height: 2.6rem;
    letter-spacing: .1rem;
    align-self: center;
}

.hello {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.3rem;
    color:hsl(22, 95%, 53%)
}

.iAm,
.fullStack {
    font-family: Raleway, sans-serif;
}

.fullStack {
    color: hsl(180, 38%, 70%);
}

.nameComma {
    font-family: 'Ubuntu Mono', monospace;
}

p {
    font-family: Varela, sans-serif;
    max-width: 777px;
    line-height: 1.7rem;
}

.letsTalk {
    padding: 2%;
    border: 2px solid hsl(22, 95%, 53%);
    border-radius: 5px;
    color: hsl(22, 95%, 53%);
    line-height: 4.5rem;
    text-decoration: none;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
}

.skills {
    margin-top: 4rem;
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    justify-content: space-between;
}

.icons {
    width: 2.5rem;
    height: auto;
    margin: .3rem;
}

.gitDiv {
   display: inline-block
   float: right;
}

.gitHubLink {
    color: hsl(180, 100%, 93%);
    font-family: 'Ubuntu Mono', monospace;
    text-decoration: none;
    float: right;
}